<div></div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Marca</th>
                <th scope="col">Submarca</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Modelos</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let auto of autos | paginate: {itemsPerPage: 10, currentPage: p}; let i = index">
                <th scope="row"> {{i+1}} </th>
                <td> {{auto.marca}} </td>
                <td> {{auto.submarca}} </td>
                <td> {{auto.descripcion}} </td>
                <td> {{auto.modelo}} </td>
                <td><img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/trash-512.png"
                    height="20px" width="20px"></td>
                <td><img src="https://cdn0.iconfinder.com/data/icons/multimedia-solid-30px/30/edit_modify_write_pen-512.png"
                        height="20px" width="20px"></td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<!--
<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 artículos por pagina</option>
        <option [ngValue]="4">4 artículos por pagina</option>
        <option [ngValue]="6">6 artículos por pagina</option>
    </select>
</div>
-->
