<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> {{action}} </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #formAutos = "ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="marca">Marca</label>
            <input type="text" class="form-control" id="marca" placeholder="Agrega la marca" [(ngModel)] = "auto.marca" required
                name="marca" minlength="4" appForbiddenName="Toyota|toyota" #marca="ngModel">

            <div *ngIf="marca.invalid && (marca.dirty || marca.touched)">
                <div *ngIf="marca.errors.minlength" class="alert alert-danger">Minimo 4 caracteres</div>
                <div *ngIf="marca.errors.required" class="alert alert-danger">Campo requerido</div>
                <div *ngIf="marca.errors.forbiddenName" class="alert alert-danger">Esta marca no esta permitida</div>
            </div>
        </div>
        <!--[(ngModel)] = "auto.marca"-->
        <div class="form-group">
            <label for="submarca">Submarca</label>
            <input type="text" class="form-control" id="submarca" placeholder="Agrega la submarca" [(ngModel)] = "auto.submarca" required
                name="submarca" minlength="4" #submarca="ngModel">

            <div *ngIf="submarca.invalid && (submarca.dirty || submarca.touched)">
                <div *ngIf="submarca.errors.minlength" class="alert alert-danger">Minimo 4 caracteres</div>
                <div *ngIf="submarca.errors.required" class="alert alert-danger">Campo requerido</div>
            </div>
        </div>
        <!--[(ngModel)] = "auto.submarca"-->
        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" placeholder="Agrega la descripcion" [(ngModel)] = "auto.descripcion" required
                name="descripcion" #descripcion="ngModel">

            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                <div *ngIf="descripcion.errors.required" class="alert alert-danger">Campo requerido</div>
            </div>
        </div>
        <!--[(ngModel)] = "auto.descripcion"-->
<!--
        <div class="form-group">
            <label for="marca">Modelo1</label>
            <input type="text" class="form-control" id="modelo1" placeholder="Agrega los modelos" [(ngModel)] = "desde" 
                name="modelos1" #modelos="ngModel">
            <div>
                
            </div>
        </div>
        <div class="form-group">
            <label for="marca">Modelo2</label>
            <input type="text" class="form-control" id="modelo2" placeholder="Agrega los modelos" [(ngModel)] = "hasta" 
                name="modelos2" #modelos="ngModel" (change)="generateModelsArray()">
            <div>
                
            </div>
        </div>
        
        <div class="form-group">
            <label for="modelos">Modelos</label>
            <input type="text" class="form-control" id="modelo1" placeholder="blah" [(ngModel)] = "auto.modelos" 
                name="modelos" #modelos="ngModel">
            <div>
                
            </div>
        </div>
-->
        <label>Modelos</label>
        <div class="form-row">

            <div class="form-group col-mod-3">
                <label for="desde">desde</label>
                <input type="number" id="desde" class="form-control" placeholder="desde" name="desde"
                    min="2000" max="2020" [(ngModel)]="desde" #modelos1="ngModel" (change)="generateModelsArray()">
            </div>

            <div class="form-group col-mod-3">
                <label for="hasta">hasta</label>
                <input type="number" id="hasta"  class="form-control" placeholder="hasta" name="hasta"
                    min="2000" max="2020" [(ngModel)]="hasta" #modelos2="ngModel" (change)="generateModelsArray()">
            </div>
        </div>
        <div>
            <div *ngIf="modelos1 > modelos2" class="alert alert-danger">El campo "desde" debe ser mayor que "hasta"</div>
        </div>

        <!--[(ngModel)] = "auto.modelos"-->
        <div class="model-footer">
            <button type="submit" class="btn btn-outline-dark" [disabled]="!formAutos.form.valid">Guardar</button>
        </div>
    </form>
</div>