<div *ngFor='let auto of autos'>
    <div class="list">
        <!-- fas fa-eye fa-3x -->
        <div class="item item-icon" aria-hidden="true" (click)="onSelect(auto, autoModal)">
            <img src="https://cdn.pixabay.com/photo/2016/12/18/11/04/eye-1915454_960_720.png" width="55px" height="30px"></div>
        <div class="item item-description">{{auto.descripcion}}</div>
    </div>
</div>

<ng-template #autoModal>
    <div class="modal-header">
        <h4>Detalles</h4>
    </div>
    <div class="modal-body">
        <div class="modal-atributo">
            <label class="ma-title">Marca: </label>
            <label class="ma-text">{{autoSelected.marca}}</label>
        </div>
        <div class="modal-atributo">
            <label class="ma-title">Submarca: </label>
            <label class="ma-text">{{autoSelected.submarca}}</label>
        </div>
        <div class="modal-atributo">
            <label class="ma-title">Modelo: </label>
            <label class="ma-text">{{autoSelected.modelo}}</label>
        </div>
        <div class="modal-atributo">
            <label class="ma-title">Descripcion: </label>
            <label class="ma-text">{{autoSelected.descripcion}}</label>
        </div>
        <div class="modal-atributo">
            <label class="ma-title">Fecha de registro: </label>
            <label class="ma-text">{{autoSelected.fecha_registro}}</label>
        </div>
    </div>
</ng-template>